{% extends 'glasgowgigs/base.html' %}

{% block content %}

<div class="container">
    <div class="page-header w3-border-grey w3-padding-10">
        <h1>Profile</h1> </div>
        <h2>My bookings</h2>
        <div class="w3-conatiner w3-rest">
		{% for booking in bookings %}
		  {% if booking.is_future %}
		    <div class="gallery">
                    <a href="{{ booking.get_absolute_url }}">
                    <div class="thumbnail"><img src="{{booking.artist.photo.url}}" alt="{{ booking.name }}"></div>
                    </a>
		    <div class="desc"><b>{{ booking.name }}</b></div>
		    </div>
		   {% endif %}
		{% endfor %}
		</div>
        <h2>My favourite artists</h2>
        <div class="w3-conatiner w3-rest">
		{% for artist in favartists %}
		    <div class="gallery">
                    <a href="{{ artist.get_absolute_url }}">
                    <div class="thumbnail"><img src="{{artist.photo.url}}" alt="{{ artist.name }}"></div>
                    </a>
		    <div class="desc"><b>{{ artist.name }}</b></div>
		    </div>
		{% endfor %}
	</div> 
        
        <h2>My favourite venues</h2>
        <div class="w3-conatiner w3-rest">
		{% for venue in favvenues %}
		    <div class="gallery">
                    <a href="{{ venue.get_absolute_url }}">
                    <div class="thumbnail"><img src="{{venue.photo.url}}" alt="{{ venue.name }}"></div>
                    </a>
		    <div class="desc"><b>{{ venue.name }}</b></div>
		    </div>
		{% endfor %}
	</div>      
    
        <h2>My past gigs</h2>
        <div class="w3-conatiner w3-rest">
		{% for booking in bookings %}
		  {% if booking.is_past %}
		    <div class="gallery">
                    <a href="{{ booking.get_absolute_url }}">
                    <div class="thumbnail"><img src="{{booking.artist.photo.url}}" alt="{{ booking.name }}"></div>
                    </a>
		    <div class="desc"><b>{{ booking.name }}</b></div>
		    </div>
		   {% endif %}
		{% endfor %}
		</div>    
    
    </div>
</div>


{% endblock %}
