div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 260px;
    color: darkslategray;
    font-family: Arial;
    font-weight: bold;
    background-color: rgba(179, 179, 179, 0.29);
    
}

div.gallery:hover {
    border: 1px solid #b61924;
}

div.desc {
    padding: 10px;
    text-align: center;
}

div.thumbnail {
  position: relative;
  width: 198px;
  height: 150px;
  overflow: hidden;
}

div.thumbnail img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

