h1 {
    color: #B40486;
    font-family: Verdana;
    text-align: center;
}



#indexPage {

}



p {
    color: #000000;
    font-family: Verdana;
    text-align: center;
}

.index-nav{
    font-family: Verdana;
    list-style: none;
    text-align: center;
}


.sidebar-nav {
    margin-top: 50px;
    padding: 5px;
    list-style: none;
    background-color: #FFFFFF;
}

html, body {
  height: 100%;
}

.navbar-toggle {
  float: left;
  margin-left: 15px;
}
.navmenu {
  z-index: 1;
}
.canvas {
  position: absolute;
  left: 0;
  right: 0!important;
  z-index: 2;
  min-height: 100%;
  padding: 50px 0 0 0;
  background: #fff;
}
.navbar-toggle {
    display: block;
}

.navbar {
    right: auto;
    background: none;
    border: none;
}



function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}

function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}

nav ul { list-style-type: none; }




