.sidebar-nav {
    margin-top: 35px;
    padding: 5px;
    list-style: none;
    background-color: #FFFFFF;
}

img {
    border-radius: 8px;
    width: 230px;
    height: 200px;
}

h1 {
    color: #FFFFFF;
    font-family: Verdana;
    text-align: center;
}

p {
    font-family: Verdana;
    text-align: center;
}

.index-nav{
    font-family: Verdana;
    list-style: none;
    text-align: center;
}
