{% extends 'glasgowgigs/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>About Us</h1>

<div class="w3-container w3-padding-30" id="projects">
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16">What is GlasgowGigs?</h3>
</div>

<body>
<p>
    GlasgowGigs is a web app that connects music fans with local music events in Glasgow. Using GlasgowGigs, users can
    find all the upcoming gigs in Glasgow, as well as popular venues and artists in Glasgow. On GlasgowGigs you will
    find pages for Artists, Venues and Events. These pages contain information about the artist/venue/event. On the
    artist page, you will find information on the artist as well as the artist's Instagram, SoundCloud, Twitter etc.
    On the venue page, there is information about the location, including its whereabouts on GoogleMaps. On the Events
    page information such as the time, venue and artist of the event is displayed.
</p>

<p>
    Through our login feature on GlasgowGigs, users are able to save events that they are interested in,
    as well as bookmark booked events. Also, users can save their favorite artists and venues for the purpose of
    future gigs and events. GlasgowGigs is a accessible platform for music fans to keep track of all of the music
    events that they are interested in.
</p>

<div class="w3-container w3-padding-30" id="projects">
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16">Future Plans for GlasgowGigs</h3>
</div>

<p>
    We plan on expanding GlasgowGigs to the whole of Scotland. Our aim is to let artists have control over where and how
    they play their gigs, as well as edit their own pages and information to reach out to their fans. We also aim to let
    venues edit their own pages in terms of recent photos as well as information.
</p>

<div class="w3-container w3-padding-30" id="projects">
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16">Who are we?</h3>
</div>

<p>
    This website was created by Daniela, Martina and Julia. We are three 2nd year students studying Computer Science at the University of Glasgow.
    Our common interest in both Web Programming and Music formed the idea of creating GlasgowGigs as we all noticed that there
    is no easy platform for music fans in Glasgow to find all the upcoming gigs for local music, as well as a collective website
    that has information on Glaswegian artists and venues.
</p>

</br>

<div class="img-with-text">
    <table width="100%">
        <tr>
            <td align="center">
                <div class="img-with-text"><img src="{% static 'images/daniela.jpg' %}">
                    <h5>Daniela</h5>
                </div>
            </td>

            <td align="center">
                <div class="img-with-text"><img src="{% static 'images/martina.jpg' %}">
                    <h5>Martina</h5>
                </div></td>

            <td align="center">
                <div class="img-with-text"><img src="{% static 'images/julia.jpg' %}">
                    <h5>Julia</h5>
                </div></td>
        </tr>
    </table>
</div>

<div class="w3-container w3-padding-30" id="projects">
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16">List of Resources</h3>
</div>
<p>
    We used a number of resources for our project including Python (Version 3.7) , Django (Version 1.11.7), the <a class="hover" href="http://www.tangowithdjango.com/"><i>Tango with Django</i></a> textbook by Leif Azzopardi
    and David Maxwell, <a class="hover" href="https://www.w3schools.com/">w3schools.com</a>,  <a class="hover" href="http://getbootstrap.com/">getbootstrap.com</a>,
    <a class="hover" href="https://www.tutorialrepublic.com/">tutorialrepublic.com</a> and <a class="hover" href="https://bootstrapious.com/">bootstrapious.com</a> for HTML & CSS guidance as well as for Bootstrap,
    and <a class="hover" href="https://stackoverflow.com/">StackOverflow</a>. Furthermore, we used a APIs on our web app such as <a class="hover" href="https://developer.twitter.com/en/docs">Twitter</a> and <a class="hover" href="https://developers.facebook.com/">Facebook</a>. Also django extenstions  <a class="hover" href="https://pypi.python.org/pypi/django-embed-video">django-embed-video.com</a>,
    <a class="hover" href=https://pypi.python.org/pypi/django-avatar/">django-avatar</a> and <a class="hover" href="https://pypi.python.org/pypi/social-auth-app-django/">social-auth-app-django</a> were implemented to the website for further functionality.
    We created our own logo and graphics using  <a class="hover" href="https://pixlr.com/">Pixlr</a> and generated our favicon through a <a class="hover" href=https://www.favicon-generator.org/">favicon generator</a> online.
</p>

</br>

<div class="w3-container w3-padding-30" id="projects">
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16">Contact Us</h3>
</div>
<p>
glasgowgigsteam@gmail.com

</body>

{% endblock %}
