{% extends "glasgowgigs/base.html" %}
{% load staticfiles %}
{% block content %}
<div class="w3-container w3-padding-30" id="projects">
    <h1 class="w3-border-bottom w3-border-purple w3-padding-16"><font color="black">{{artist.name}}</font></h1>  </div>

 <div class="w3-row">
  <div class="w3-threequarter">
      <img src={{artist.photo.url}} alt={{artist.name}} width="100%"></br>
    <p>{{ artist.info }}</p></div>

   <p><strong>Genre:</strong>{{artist.genre}}</p>

    <p><strong>Social Media Links:</strong></p>
  <p><a href={{artist.instagram}}><img src="{% static 'images/instagram-icon.png' %}" alt="index" style="width:48px;height:48px"></a>
  <a href={{artist.youtube}}><img src="{% static 'images/youtube-icon.png' %}" alt="index" style="width:48px;height:48px"></a>
  <a href={{artist.soundcloud}}><img src="{% static "images/soundcloud-icon.png" %}" alt="index" style="width:48px;height:48px"></a>
  <a href={{artist.twitter}}><img src="{% static "images/twitter-icon.png" %}" alt="index" style="width:48px;height:48px"></a>
  <a href={{artist.facebook}}><img src="{% static "images/facebook-icon.png" %}" alt="index" style="width:48px;height:48px"></a></p>


  <div style="margin-left:20px;margin-top:20px">
    <h4>Upcoming Events in Glasgow</h4>
    {% for artist in artist_list %}
        {% for artist.name in artist_list %}
            {% if artist.name and events.name %}
                <p>This artist has an upcoming event.</p>
            {% else %}
        <p>This artist has no upcoming events in Glasgow.</p>
        {% endif %}
    {% endfor %}
    {% endfor %}
  </div>



   </div>
{% endblock %}
