{% extends "glasgowgigs/base.html" %}

{% block content %}
<div class="w3-container w3-padding-30" id="projects">
    <h1 class="w3-border-bottom w3-border-grey w3-padding-16">Artists on GlasgowGigs</h1>
</div>

    {% if artist_list %}
      {% for artist in artist_list %}
 		<div class="gallery">
 		  <a href="{{ artist.get_absolute_url }}">
			<div class="thumbnail"><img src="{{artist.photo.url}}" alt="{{ artist.name }}"></div>
 		  </a>
            <div class="desc"><b>{{ artist.name }}</b></div>
 		</div>
      {% endfor %}

    {% else %}
      <p>There are no artists.</p>
    {% endif %}
{% endblock %}
