{% extends "glasgowgigs/base.html" %}
{% load static %}

{% block content %}
    <h1>Artists in GlasgowGigs</h1>

    {% if venue_list %}
    <ul>

      {% for venue in venue_list %}
      <li>
        <a href="{{ venue.get_absolute_url }}">{{ venue.name }}</a> Where: {{venue.address}}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no artists.</p>
    {% endif %}

<div class="w3-row-padding">
    <div class="w3-third">
        <a class="venue-hover" href="{% url 'index' %}"><img src="{% static 'images/mogwai.jpg' %}" alt="index" style="max-width:100%"></a>
        <caption><h3>Mogwai</h3></caption>
        <a class="venue-hover" href="{% url 'index' %}"><img src="{% static 'images/belleandsebastian.jpg' %}" alt="index" style="max-width:100%"></a>
        <caption><h3>Belle and Sebastian</h3></caption>
    </div>

    <div class="w3-third">
        <a class="venue-hover" href="{% url 'index' %}"><img src="{% static 'images/flyingduck.jpg' %}" alt="index" style="max-width:100%"></a>
        <caption><h3>Artist Name</h3></caption>
        <a class="venue-hover" href="{% url 'index' %}"><img src="{% static 'images/flyingduck.jpg' %}" alt="index" style="max-width:100%"></a>
        <caption><h3>Artist Name</h3></caption>
    </div>

    <div class="w3-third">
        <a class="venue-hover" href="{% url 'index' %}"><img src="{% static 'images/flyingduck.jpg' %}" alt="index" style="max-width:100%"></a>
        <caption><h3>Artist Name</h3></caption>
        <a class="venue-hover" href="{% url 'index' %}"><img src="{% static 'images/flyingduck.jpg' %}" alt="index" style="max-width:100%"></a>
        <caption><h3>Artist Name</h3></caption>
    </div>
  </div>

{% endblock %}
