<DOCTYPE html>
<html lang="en">
{% load static %}
{% load avatar_tags %}


<head>

    <!--Required meta tags, scaling for devices-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Use the latest rendering engine-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!--Tab icon-->
	<link rel="icon" href="{% static 'images/favicon.ico' %}">
	
	<!--Tab icon-->
	<title>GlasgowGigs</title>
</head>



<body>

<!--Sidebar-->
<nav>
	<ul>
		<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-right" style="width:200px;right:0;" id="mySidebar">
			<div id="particles-js">
			<button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
			<div class="centered">

			{% if user.is_authenticated %}
                <div align="center">
                    <h4>Hello {{ user.username }}</h4>
                    <h4>{% avatar user 100 class="img-circle img-responsive" id="user_avatar" %}</h4>
                    </br>
                    <a href="{% url 'settings' %}" class="btn btn-info btn-md ">Profile</a>
                    </br>
                    </br>
                    <a href="{% url 'settings' %}" class="btn btn-info btn-md ">Settings</a>
                    </br>
                    </br>
                    <a href="{% url 'avatar_change' %}" class="btn btn-info btn-md">Change Avatar</a>
                    </br>
                    </br>
                    <a href="{% url 'password' %}" class="btn btn-info btn-md ">Change Password</a>
                    </br>
                    </br>
                    <a href="{% url 'logout' %}" class="btn btn-info btn-md">Logout</a>
                </div>
	
			{% else %}
                <div class="non-log-btn" align="center">
                    <a href="{% url 'login' %}" class="btn btn-info btn-md ">Login</a>
                    </br>
                    </br>
                    <a href="{% url 'register' %}" class="btn btn-info btn-md ">Register</a>
                </div>

			{% endif %}
			</div>
			</div>
		</div>
    </ul>
</nav>


<!--Header-->
<div class="w3-container" div id="topbar"
     style="color:#000000; font-family:'Arial Narrow';font-size:25px; background-color: #DBDBDB;">
	<img src="{% static 'images/GG_logo_red2.png' %}" alt="logo" style="width:225px;height:40px;"/>
    <a href="{% url 'index' %}" class="w3-button">HOME</a>
    <a href="{% url 'artists' %}" class="w3-button">ARTISTS</a>
    <a href="{% url 'venues' %}" class="w3-button">VENUES</a>
    <a href="{% url 'events' %}" class="w3-button">EVENTS</a>
</div>


      <div class="col-sm-10">
      {% block content %}{% endblock %}
      </div>

<div style="clear: both">


<!--Footer-->
<footer class="container-fluid page-footer font-small grey pt-3 mt-4">

    <!--Footer Links-->
    <div class="text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
            <div class="search-container">
            <h5 class="text-uppercase">Search GlasgowGigs</h5>
                <form action="/action_page.php">
                <input type="text" placeholder="Search..." name="search">
                <button type="submit"><i class="material-icons">search</i></button>
                </form>
            </div>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--Copyright-->
    <div class="footer">
          <p>© 2018 Copyright: GlasgowGigs</p>
    </div>

</footer>
</div>	

    <!--Styles-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/carousel.css' %}">

	<!-- Bootstrap core CSS -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto|Open+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<!-- Bootstrap 4 Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!--Scripts-->
	
	<script type="text/javascript" src={% static 'js/glasgowgigs-ajax.js' %}></script>
	<script type="text/javascript" src={% static 'js/artist-carousel.js' %}></script>
    <script type="text/javascript" src={% static 'js/particles.js' %}></script>
    <script type="text/javascript" src={% static 'js/app.js' %}></script>
    <script type="text/javascript" src={% static 'js/carousel.js' %}></script>

</body>
</html>  



