<DOCTYPE html>
<html lang="en">
{% load static %}
{% load avatar_tags %}


<head>

    <!--Required meta tags, scaling for devices-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Use the latest rendering engine-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!--Tab icon-->
        <link rel="icon" href="/media/glasgowgigs.ico?289349832" type="image/x-icon" />
	
	<title>GlasgowGigs</title>
</head>



<body>

<!--Sidebar-->
<nav>
    <ul>
        <div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-right" style="width:200px;right:0;" id="mySidebar">
            <div id="particles-js">
                <button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()"><div align="right">&#10006</div></button>

                <div class="centered">
                    {% if user.is_authenticated %}
                    <div align="center">
                        <h4><strong>Hello {{ user.username }}</strong></h4>
                        <h4>{% avatar user 100 class="img-circle img-responsive" id="user_avatar" %}</h4>
                        </br>
                        <a href="{% url 'profile' %}" class="btn btn-default btn-md" style="color: white; background-color:rgba(96,96,96,0.5)">Profile</a>
                        </br>
                        </br>
                        <a href="{% url 'settings' %}" class="btn btn-default btn-md" style="color: white; background-color:rgba(96,96,96,0.5)">Settings</a>
                        </br>
                        </br>
                        <a href="{% url 'avatar_change' %}" class="btn btn-default btn-md" style="color: white; background-color:rgba(96,96,96,0.5)">Change Avatar</a>
                        </br>
                        </br>
                        <a href="{% url 'password' %}" class="btn btn-default btn-md" style="color: white; background-color:rgba(96,96,96,0.5)">Change Password</a>
                        </br>
                        </br>
                        <a href="{% url 'logout' %}" class="btn btn-default btn-md" style="color: white; background-color:rgba(96,96,96,0.5)">Logout</a>
                    </div>

                    {% else %}
                    <div class="non-log-btn" align="center">
                        <a href="{% url 'register' %}" class="btn btn-default btn-md" style="color: white; background-color:rgba(96,96,96,0.5)">
                            <img src="{% static 'images/register.png' %}" style="width:20%;"> Register</a>
                        </br>
                        </br>
                        <a href="{% url 'login' %}" class="btn btn-default btn-md" style="color: white; background-color:rgba(96,96,96,0.5); outline:red">
                            <img src="{% static 'images/login.png' %}" style="width:20%;"> Login</a>
                        </br>
                        </br>
                        <a href="{% url 'social:begin' 'facebook' %}" target="_blank" class="circlebtn-social circlebtn-facebook"><i class="fa fa-facebook"></i></a>
                        <a href="{% url 'social:begin' 'twitter' %}" target="_blank" class="circlebtn-social circlebtn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="{% url 'social:begin' 'google-oauth2' %}" target="_blank" class="circlebtn-social circlebtn-google-plus"><i class="fa fa-google"></i></a>
                    </div>

                    {% endif %}
                </div>
            </div>
        </div>
    </ul>
</nav>

    <!--Navbar-->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'images/GG_logo_red2.png' %}" alt="logo" style="width:225px;height:40px;"/></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-default navbar-fnt" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{% url 'artists' %}">ARTISTS</a></li>
                    <li><a href="{% url 'venues' %}">VENUES</a></li>
                    <li><a href="{% url 'events' %}">EVENTS</a></li>
                    <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">HELP <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            <li><a href="{% url 'terms-and-conditions' %}">T&C</a></li>
          </ul>
        </li>
                    </ul>
                </ul>
            </div><!-- /.container-fluid -->
        </div>
    </nav>

    <div class="col-sm-10">
        {% block content %}{% endblock %}
    </div>

    <!--Footer-->
    <div style="clear: both">
        <div id="footer"><br><p>Copyright: GlasgowGigs 2018</p></br></div>
    </div>

    <!-- Bootstrap core CSS -->
	<link href="https://fonts.googleapis.com/css?family=Oswald:300,400|Roboto|Open+Sans:300,400,700" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!--Styles-->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<link rel="stylesheet" href="{% static 'css/register.css' %}">
    <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
	<link rel="stylesheet" href="{% static 'css/carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/buttons.css' %}">
	<link rel="stylesheet" href="{% static 'css/map.css' %}">
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">

	<!-- External Scripts -->
	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://intercoolerreleases-leaddynocom.netdna-ssl.com/intercooler-1.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!--Scripts-->
	<script type="text/javascript" src={% static 'js/facebook.js' %}></script>
	<script type="text/javascript" src={% static 'js/venue-ajax.js' %}></script>
	<script type="text/javascript" src={% static 'js/artist-ajax.js' %}></script>
	<script type="text/javascript" src={% static 'js/booking-ajax.js' %}></script>
	<script type="text/javascript" src={% static 'js/artist-carousel.js' %}></script>
    <script type="text/javascript" src={% static 'js/particles.js' %}></script>
    <script type="text/javascript" src={% static 'js/app.js' %}></script>
    <script type="text/javascript" src={% static 'js/carousel.js' %}></script>
    <script type="text/javascript" src={% static 'js/close.js' %}></script>
    <script type="text/javascript" src={% static 'js/map.js' %}></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARbWl1n1ErFh0xCa_HHVtPC642A2iDH4Y&callback=initMap"></script>



</body>
</html>  
