<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load avatar_tags %}

<meta charset="utf-8">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{% static 'js/glasgowgigs-ajax.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
	
	<!--Scaling-->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--Tab icon-->
	<link rel="icon" href="{% static 'images/favicon.ico' %}">
	
	<!--Styles-->
	<link rel="stylesheet" href="{% static 'css/styles.css' %}">
	<link rel="stylesheet" href="{% static 'css/gallery.css' %}">
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  
	{% block title %}<title>GlasgowGigs</title>{% endblock %}
</head>

<!--Sidebar-->
<body>
<nav>
	<ul>
		<div class="w3-sidebar w3-bar-block w3-collapse w3-card w3-animate-right" style="width:200px;right:0;" id="mySidebar">
			<div id="particles-js">
			<button class="w3-bar-item w3-button w3-large w3-hide-large" onclick="w3_close()">Close &times;</button>
			<div class="centered">
			{% if user.is_authenticated %}
	
			<p>Hello {{ user.username }}!</p>
			<div align="center"><p>{% avatar user 100 class="img-circle img-responsive" id="user_avatar" %}</p></div>
			<p><a href="{% url 'logout' %}" class="w3-bar-item w3-button"><b>Logout</b></a></p>
			<p><a href="{% url 'avatar_change' %}" class="w3-bar-item w3-button">Change your avatar</a></p>
			<p><a href="{% url 'password' %}" class="w3-bar-item w3-button"><b>Change your password</b></a></p>
			<p><a href="{% url 'settings' %}" class="w3-bar-item w3-button"><b>Settings</b></a></p>
	
			{% else %}
			  <li><a href="{% url 'register' %}" class="w3-bar-item w3-button"><b>Register</b></a></li>
			  <li><a href="{% url 'login' %}" class="w3-bar-item w3-button"><b>Login</b></a></li>
			{% endif %}
			</div>
			</div>
		</div>
    </ul>
</nav>


<!--Header-->
<div class="w3-container" div id="topbar">
	<img src="{% static 'images/logo.png' %}" alt="logo" style="width:190px;height:75px;"/>
        <a href="{% url 'index' %}"><img src="{% static 'images/button-home.png' %}" alt="index" style="width:128px;height:64px;text-decoration:underline-on-hover"></a></h></li>
        <a href="{% url 'artists' %}"><img src="{% static 'images/button-artists.png' %}" alt="index" style="width:128px;height:64px"></a>
        <a href="{% url 'venues' %}"><img src="{% static 'images/button-venues.png' %}" alt="index" style="width:128px;height:64px;"></a>
        <a href="{% url 'events' %}"><img src="{% static 'images/button-events.png' %}" alt="index" style="width:128px;height:64px"></a>
</div>


      <div class="col-sm-10">
      {% block content %}{% endblock %}
      </div>

	<!--Particles-->
    
    <script type="text/javascript" src={% static 'js/particles.js' %}></script>
    <script type="text/javascript" src={% static 'js/app.js' %}></script>
    
    <!-- Bootstrap 4 Scripts -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<div style="clear: both">
<!--Footer-->
<footer class="page-footer font-small grey pt-3 mt-4">

    <!--Footer Links-->
    <div class="container-fluid text-center text-md-left">
        <div class="row">

            <!--First column-->
            <div class="col-md-6">
            <div class="search-container">
            <h5 class="text-uppercase">Search GlasgowGigs</h5>
                <form action="/action_page.php">
                <input type="text" placeholder="Search..." name="search">
                <button type="submit"><i class="material-icons">search</i></button>
                </form>
            </div>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-6">
                <h5 class="text-uppercase">Links</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="{% url 'about' %}">About</a>
                    </li>
                </ul>
            </div>
            <!--/.Second column-->
        </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer">
          <p>© 2018 Copyright: GlasgowGigs</p>
    </div>
    <!--/.Copyright-->

<!--/.Footer-->
</footer>
</div>
</body>
</html>  



