{% extends "glasgowgigs/base.html" %}

{% block content %}
    <h1>Events on GlasgowGigs</h1>

    {% if event_list %}

      {% for event in event_list %}
		<div class="gallery">
		  <a target="_blank" href="{{ event.get_absolute_url }}">
			<div class="thumbnail"><img src="{{event.artist.photo.url}}" alt="{{ event.name }}"></div>
		  </a>
		  <div class="desc">{{ event.name }}</div>
		</div>
      {% endfor %}

    {% else %}
      <p>There are no events.</p>
    {% endif %}       
{% endblock %}
