{% extends "glasgowgigs/base.html" %}

{% block content %}
    <h1>Events on GlasgowGigs</h1>

    {% if event_list %}

      {% for event in event_list %}
	    <div class="w3-container">
                `<div class="w3-row-padding"> 
                    <div class="w3-row l3 m6 w3-margin-bottom">
                        <div class="w3-display-container"> 
                            <div class="w3-display-topleft w3-purple w3-padding">{{event.name}}</div> 
                                <a href="{{ event.get_absolute_url }}"><img src="{{event.photo.url}}" alt="{{event.name}}" style="width:100%"></a>  
                    </div> 
                </div> 
            </div> 
        </div>	
      {% endfor %}

    {% else %}
      <p>There are no events.</p>
    {% endif %}       
{% endblock %}
