{% extends "glasgowgigs/base.html" %}
{% load staticfiles %}
{% load static %}
{% block content %}
<div class="w3-container w3-padding-30" id="projects">
    <h1 class="w3-border-bottom w3-border-grey w3-padding-16"><font color="black">{{ event.name }}</font></h1>  </div>
<div class="w3-container">
 <div class="w3-row">
  <div class="w3-half">
        <img src={{event.artist.photo.url}} alt={{event.artist.name}} width="100%" style="border:5px solid #DBDBDB"></br>
    </div>
    
<div class="w3-container w3-rest">
  <p><strong>Address:</strong></p>
  <p>{{event.venue.address}}</p>
	{% if user.is_authenticated %}
		{% if event.views > 1 %}
		({{ event.views }} views)
		{% elif event.views == 1 %}
		({{ event.views }} view)
		{% endif %} 
		{% if event.is_future %}
        <div align="center"><button id="book-event" data-eventid="{{ event.id }}" class="btn btn-danger btn-sm" type="button"> Going! </button></div>
        {% else %}
        <div align="center">This is a past event!</div>
        {% endif %}
    {% endif %}

   <div align="center"><h3>Location: </h3></div>
   <div align="center"><div id="map"></div>
    <script>
      function initMap() {
        var location = {lat: {{event.venue.latitude}}, lng: {{event.venue.longitude}} };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: location
        });
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
    </script>


</div>
</div>
{% endblock %}
