{% extends "glasgowgigs/base.html" %}
{% load static %}
{% block content %}

<body>

    <div class="page-header w3-border-grey w3-padding-0">
        <h1>GlasgowGigs</h1>
    </div>
    <div class="container-fluid jumbotron">
        <p>Welcome to <em>GlasgowGigs</em>!
        This is a basic Django framework app with the purpose of connecting
        Glaswegian music fans with their favourite local acts and venues.
        <br>
        <br>
        On GlasgowGigs there are: </p>
        <div id="list" align="center">
                {{ num_artists }} <strong>local artists</strong></br>
                {{ num_venues }} <strong>local venues</strong></br>
                {{ num_events }} <strong>local gigs</strong></br>
        <div class="container-fluid" align="center">
		<form class="navbar-form" id="form" role="form" action="{% url 'search-submit' %}" method="post">
			{% csrf_token %}
			<input name="search"
				   id="search"
				   type="search"
				   class="form-control"
				   placeholder="Find events in Glasgow"
				   ic-post-to="{% url 'search-ajax-submit' %}"
				   ic-trigger-on="keyup changed"
				   ic-trigger-delay="300ms"
				   ic-target="#search-result-container"/>
		</form>
		<span id="search-result-container"></span>
		</div>
		</div>
    </div>


<div class='container-fluid'>
    <div class='w3-row'>
        <div class='w3-half'>
            <h2>Top 5 Artists</h2>
            <div id="ArtistCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
				{% for artist in top_artists %}
                {% if forloop.first %}
                    <div class="active item">
                {% else %}
                    <div class="item">
                {% endif %}
                        <img src="{{ artist.photo.url }}" alt="{{ artist.name }}">
                        <div class="carousel-caption">
                            <a href="{{ artist.get_absolute_url }}" class="btn btn-default btn-md" style="color:white;background-color:rgba(0,0,0,0.5);">{{ artist.name }}</a>
                        </div>
                    </div>
                {% endfor %}
                </div>


                <!-- Left and right controls -->
                <a class="left carousel-control" href="#ArtistCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color:#b61924"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#ArtistCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color:#b61924"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
            </div>

            <div class="w3-half">
            <h2>Top 5 Venues</h2>
            <div id="venueCarousel" class="carousel slide" data-ride="carousel">
                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
				{% for venue in top_venues %}
                {% if forloop.first %}
                    <div class="active item">
                {% else %}
                    <div class="item">
                {% endif %}
                        <img src="{{ venue.photo.url }}" alt="{{ venue.name }}">
                        <div class="carousel-caption">
                            <a href="{{ venue.get_absolute_url }}" class="btn btn-default btn-md" style="color: white; background-color:rgba(0,0,0,0.5)">{{ venue.name }}</a>
                        </div>
                    </div>
                {% endfor %}
                </div>


                <!-- Left and right controls -->
                <a class="left carousel-control" href="#venueCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="color: #b61924"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#venueCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true" style="color: #b61924"></span>
                    <span class="sr-only">Next</span>
                </a>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>

</body>
{% endblock %}

