<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
<title>GlasgowGigs</title>
<!-- CSS -->
<link rel="stylesheet" href="{% static "css/base.css" %}" />
<!-- JavaScript -->
<script src="{% static "js/jquery.js" %}"></script>
</head>
<body>
<h1>Welcome to GlasgowGigs</h1>
<div>
This is the index page. <br />
<a href="/glasgowgigs/about/">About</a><br />
<a href="/glasgowgigs/about/">Artists</a><br />
<a href="/glasgowgigs/about/">Venues</a><br />

<!-- Image -->
<img src="{% static "images/main.jpg" %}" alt="ABC" /></br>
<strong>{{ boldmessage }}</strong><br />
</div>
</body>
</html>
