{% extends "glasgowgigs/base.html" %}
{% load static %}
{% block content %}

    <div id="content"><p>Welcome to <em>GlasgowGigs</em>!
        This is a basic Django framework app with the purpose of connecting
        Glaswegian music fans with their favourite local acts and venues.
        <br>
        <br>
        On GlasgowGigs there are: </p></div>

    <div id="list">
        <ul class="index-nav">
            <li>{{ num_artists }} <strong>local artists</strong></li>
            <li>{{ num_venues }} <strong>local venues</strong></li>
            <li>{{ num_events }} <strong>upcoming gigs</strong></li>
        </ul>
    </div>

<div class="w3-container">
	<div class="w3-row">
		<div class="w3-third">
			<h1>Artists</h1>
		
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				{% for artist in artists_list %}
				{% if forloop.counter == 1 %}
				<div class="item active">
				{% else %}
				<div class="item">
				{% endif %}
					<img src="{{ artist.photo.url }}" alt="{{ artist.name }}">
			  <div class="carousel-caption">
				<p>{{ artist.name }}</p>
			  </div>
				</div>
				{% endfor %}
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
		
		
		
		<div class="w3-third">
			<h1>Venues</h1>
		
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				{% for venue in venues_list %}
				{% if forloop.counter == 1 %}
				<div class="item active">
				{% else %}
				<div class="item">
				{% endif %}
					<img src="{{ venue.photo.url }}" alt="{{ venue.name }}">
			  <div class="carousel-caption">
				<p>{{ venue.name }}</p>
			  </div>
				</div>
				{% endfor %}
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
    
    
		<div class="w3-third">
			<h1>Events</h1>
			
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>

			<!-- Wrapper for slides -->
			<div class="carousel-inner" role="listbox">
				{% for event in events_list %}
				{% if forloop.counter == 1 %}
				<div class="item active">
				{% else %}
				<div class="item">
				{% endif %}
					<img src="{{ event.artist.photo.url }}" alt="{{ event.name }}">
			  <div class="carousel-caption">
				<p>{{ event.name }}</p>
			  </div>
				</div>
				{% endfor %}
				</div>

				<!-- Left and right controls -->
				<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</div>		
</div>
{% endblock %}


