{% extends 'glasgowgigs/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="w3-container w3-padding-30" id="projects">
    <h2 class="w3-border-bottom w3-border-purple w3-padding-16">Login to your GlasgowGigs Account</h2>
<form id="login_form" method="post" action="{% url 'login' %}">
{% csrf_token %}
Username: <div align="left"><input type="text" name="username" value="" size="50" /></div>
<br />
Password:  <div align="left"><input type="password" name="password" value="" size="50" /></div>
<br />
<input type="submit" value="submit" />
</form>
{% endblock %}
