{% extends 'glasgowgigs/base.html' %}
{% load staticfiles %}

{% block content %}
<div align="center">
<div class="w3-container w3-padding-30" id="projects"><div class="signup-form">
	<form method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h2>Register</h2>
		<p class="hint-text">Create your account on GlasgowGigs so you can browse local gigs, artists and venues!</p>
        <div class="form-group">
			<input type="text" class="form-control" name="username" placeholder="Username" required="required"> 	
        </div>
        <div class="form-group">
        	<input type="email" class="form-control" name="email" placeholder="Email" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="password" placeholder="Password" required="required">
        </div>
		<div class="form-group">
            <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" required="required">
        </div>        
        <div class="form-group">
			<label class="checkbox-inline"><input type="checkbox" required="required"> I accept the <a href="{% url 'about' %}">Terms of Use</a>.</label>
		</div>
		<div class="form-group">
            <button type="submit" class="btn btn-danger btn-lg btn-block">Register Now</button>
        </div>
		<div class="text-center">Already have an account? <a href="{% url 'login' %}">Sign in</a></div>

    </form>
</div>
{% endblock %}


