{% extends 'glasgowgigs/base.html' %}
{% load staticfiles %}

{% block content %}
<div align="center">
<div class="w3-container w3-padding-30" id="projects">
    <h2 class="w3-border-bottom w3-border-purple w3-padding-16"><font color="black">Register for GlasgowGigs</font></h2>
{% if registered %}
<p><strong>Thank You for Registering!</strong></p>
<a href="{% url 'index' %}">Return to Home.</a><br />
{% else %}
<p><strong>Register Here!</strong></p><br />
<form method="post" action="{% url 'register' %}" enctype="multipart/form-data">

{% csrf_token %}
<!-- Display each form -->
{{ user_form.as_p }}
{{ profile_form.as_p }}


<!-- Provide a button to click to submit the form. -->
<input type="submit" name="submit" value="Register" />
</form>
</div>
{% endif %}
{% endblock %}


