{% extends 'glasgowgigs/base.html' %}
{% load staticfiles %}

{% block content %}
<h1>Terms and Conditions</h1>

<body>

<div class="w3-container w3-padding-30" id="projects">
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16">1. Introduction</h3>
</div>
<p>
    Please read these Terms and Conditions very carefully, since it consitutes legally binding terms and conditions and it furthermore applies to the use of Services for users when accessing GlasgowGigs.
    By using GlasgowGigs you are expressly agreeing to comply with our terms and conditions.
</p>
<div class="w3-container w3-padding-30" id="projects">
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16">2. Services</h3>
</div>
<p>
    GlasgowGigs allows registered users that are music fans to access features, functionality, information and services that
    we provide. This may include ability to access personalized information and content concerning certain artists and bands
    to provide services such as information on upcoming events in Glasgow. 
</p>

<div class="w3-container w3-padding-30" id="projects">
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16">3. User Registration</h3>
</div>

<p>
    In order to access and use certain content for  features and functionality of our services on GlasgowGigs,
    we require that users register for the services by creating and/or providing a username and password for user credentials,
    or provide these through a third party platform (Facebook and Twitter). Through user credentials we require an email address, legal name and music/artist/band
    preferences.
</p>

<div class="w3-container w3-padding-30" id="projects">
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16">4. Digital Millennium Copyright Act</h3>
</div>

<p>
    If you are a copyright owner or an agent that belives that any content regarding our Services infringes upon your copy rights, you must submit
    a notification to the Digital Millenium Copyright Act ("DMCA") by providing our Designated Agent and the following information in written form:
</p>
<p>
    1. A physical or electronic signature of a person authorized to handle on behalf of the owner of an exclusive right that is claimed to be infringed/copyrighted
    <br>
    2. Identification of the copyrighted work
    <br>
    3. Identification of the materials
    <br>
    4. Information sufficient enough to permit us to contact you
    <br>
    5. A statement regarding the use of the material in a manner that is not authorized by the copyright owner
    <br>
    6. A statement regarding the information in the notification is accurate, and that you are authorized to act on behalf of the owner to claim that the work is allegedly infringed
</p>

</br>

<div class="w3-container w3-padding-30" id="projects">
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16">5. Customer Support</h3>
</div>
<p>
    For assistance with techinical issues or customer support inquiries, please contact us through glasgowgigsteam@gmail.com.
</p>

<div class="w3-container w3-padding-30" id="projects">
    <h3 class="w3-border-bottom w3-border-grey w3-padding-16">6. Miscellaneous Remarks</h3>
</div>
<p>
       If users agree to our Terms and Conditions, they must give Daniela, Martina and Julia an A in their final grade. 
 
</p>
</br>

</body>

{% endblock %}
