{% extends "glasgowgigs/base.html" %}
{% load staticfiles %}
{% block content %}
{% load static %}
<div class="w3-container w3-padding-30" id="projects">
    <h1 class="w3-border-bottom w3-border-purple w3-padding-16">{{ venue.name }}</h1>  </div>
<div class="w3-container">
 <div class="w3-row">
  <div class="w3-half">
      <img src={{venue.photo.url}} alt={{venue.name}} width="100%"></br>
      <p>{{ venue.info }}</p>
      </div>
    <div class="w3-conatiner w3-rest">
        <p><strong>Social Media Links:</strong></p>
        <div align="center">
        {% if venue.instagram %}
            <p><a href={{venue.instagram}}><img src="{% static 'images/instagram-icon.png' %}" alt="index" style="width:48px;height:48px"></a>
        {% endif %}

        {% if venue.twitter %}
            <a href={{venue.twitter}}><img src="{% static 'images/twitter-icon.png' %}" alt="index" style="width:48px;height:48px"></a>
        {% endif %}

        {% if venue.facebook %}
            <a href={{venue.facebook}}><img src="{% static 'images/facebook-icon.png' %}" alt="index" style="width:48px;height:48px"></a></p>
        {% endif %}
        </div>
  <p><strong>Location:</strong></p>
  <p>{{venue.address}}</p>
  <div style="margin-left:20px;margin-top:20px">
    <div align="center"><h4>Events</h4></div>

<div align="center">
	<strong id="like_count">{{ venue.likes }}</strong> people like this venue! 
	{% if user.is_authenticated %} 
		<button id="likes" data-venueid="{{ venue.id }}" class="btn btn-primary btn-sm" type="button"> Like </button> 
	{% endif %} 
</div>


  </div>
	<style>
      #map {
        height: 400px;
        width: 75%;
       }
    </style>
	{% if venue.latitude and venue.longitude %}
    <div align="center"><h3>Location: </h3>
    <div align="center"><div id="map"></div>
    <script>
      function initMap() {
        var location = {lat: {{venue.latitude}}, lng: {{venue.longitude}} };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: location
        });
        var marker = new google.maps.Marker({
          position: location,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARbWl1n1ErFh0xCa_HHVtPC642A2iDH4Y&callback=initMap">
    </script>
    {% endif %}
</div>
</div>
</div>
 </div>
 </div>
{% endblock %}
