{% extends "glasgowgigs/base.html" %}

{% block content %}
    <h1>Venues on GlasgowGigs</h1>

    {% if venue_list %}

      {% for venue in venue_list %}
    <div class="w3-container">
            <div class="w3-row-padding"> 
                    <div class="w3-row l3 m6 w3-margin-bottom">
                        <div class="w3-display-container"> 
                            <div class="w3-display-topleft w3-purple w3-padding">{{venue.name}}</div> 
                                <a href="{{ venue.get_absolute_url }}"><img src="{{venue.photo.url}}" alt="{{venue.name}}" style="width:100%"></a>  
                    </div> 
                </div> 
            </div> 
        </div>
      {% endfor %}

    {% else %}
      <p>There are no venues.</p>
    {% endif %}       
{% endblock %}
