{% extends "glasgowgigs/base.html" %}
{% load static %}
{% block content %}

<div class="w3-container w3-padding-30" id="projects">
    <h2 class="w3-border-bottom w3-border-purple w3-padding-16">Venues on GlasgowGigs</h2>

    {% if venue_list %}
    <ul>

      {% for venue in venue_list %}
      <li>
        <a href="{{ venue.get_absolute_url }}">{{ venue.name }}</a> Where: {{venue.address}}
      </li>
      {% endfor %}

    </ul>
    {% else %}
      <p>There are no venues.</p>
    {% endif %}



  <div class="w3-row-padding">
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-purple w3-padding">Flying Duck</div>
        <a href="{% url 'index' %}"><img src="{% static 'images/flyingduck.jpg' %}" alt="Flying Duck" style="width:100%"></a>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-purple w3-padding">O2 ABC</div>
        <a href="{% url 'index' %}"><img src="{% static 'images/main.jpg' %}" alt="O2 ABC" style="width:100%"></a>
      </div>
    </div>
    <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-purple w3-padding">SWG3</div>
        <a href="{% url 'index' %}"><img src="{% static 'images/swg3.jpg' %}" alt="SWG3" style="width:100%"></a>
      </div>
    </div>
      <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-purple w3-padding">King Tut's</div>
        <a href="{% url 'index' %}"><img src="{% static 'images/kingtuts.jpg' %}" alt="King Tut's" style="width:100%"></a>
      </div>
    </div>
      <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-purple w3-padding">Broadcast</div>
        <a href="{% url 'index' %}"><img src="{% static 'images/broadcast.jpg' %}" alt="Broadcast" style="width:100%"></a>
      </div>
    </div>
      <div class="w3-col l4 m6 w3-margin-bottom">
      <div class="w3-display-container">
        <div class="w3-display-topleft w3-purple w3-padding">CCA</div>
        <a href="{% url 'index' %}"><img src="{% static 'images/CCA.jpg' %}" alt="CCA" style="width:100%"></a>
      </div>
    </div>

{% endblock %}
